/vendor
/**/vendor/
node_modules/
/**/node_modules/
npm-debug.log
yarn-error.log

.env
.env.backup
.env.production
/**/.env

.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json

storage/*.key
/**/storage/*.key
/**/storage/oauth*.key
/**/storage/framework/cache/*
/**/storage/framework/sessions/*
/**/storage/framework/views/*
/**/storage/logs/*
!/**/storage/framework/cache/.gitkeep
!/**/storage/framework/sessions/.gitkeep
!/**/storage/framework/views/.gitkeep
!/**/storage/logs/.gitkeep

.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
